.wrapper {
  display: flex;
  height: 100vh;
  background-color: #0a0a0a;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}